## Creating DataSet

### Reading Input Data

In [2]:
import pandas as pd
Salaries = pd.read_csv("multiple_choice_responses.csv", low_memory = False)
Salaries.head()

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1

### Dropping rows with the missing target variable (Q10)

In [3]:
Salaries.dropna(subset=['Q10'],inplace=True)

In [4]:
Salaries.Q10.unique()

array(['What is your current yearly compensation (approximate $USD)?',
       '30,000-39,999', '5,000-7,499', '250,000-299,999', '4,000-4,999',
       '60,000-69,999', '10,000-14,999', '80,000-89,999', '$0-999',
       '2,000-2,999', '70,000-79,999', '90,000-99,999', '125,000-149,999',
       '40,000-49,999', '20,000-24,999', '15,000-19,999',
       '100,000-124,999', '7,500-9,999', '150,000-199,999',
       '25,000-29,999', '3,000-3,999', '1,000-1,999', '200,000-249,999',
       '50,000-59,999', '> $500,000', '300,000-500,000'], dtype=object)

In [31]:
Salaries.Q3[0]

'In which country do you currently reside?'

### Dropping row with the Questions

In [0]:
Salaries.drop(Salaries.index[[0]], inplace=True)

### Combining the salary buckets and label encoding them

In [0]:
salary_buckets = {   '$0-999': '0-9,999',
    '1,000-1,999': '0-9,999',
    '2,000-2,999': '0-9,999', 
    '3,000-3,999': '0-9,999',
    '4,000-4,999': '0-9,999',
    '5,000-7,499': '0-9,999', 
    '7,500-9,999': '0-9,999',
    '10,000-14,999': '10,000-19,999',
    '15,000-19,999': '10,000-19,999', 
    '20,000-24,999': '20,000-29,999',
    '25,000-29,999': '20,000-29,999',
    '30,000-39,999': '30,000-39,999', 
    '40,000-49,999': '40,000-49,999', 
    '50,000-59,999': '50,000-59,999',
    '60,000-69,999': '60,000-69,999',
    '70,000-79,999': '70,000-79,999', 
    '80,000-89,999': '80,000-89,999', 
    '90,000-99,999': '90,000-99,999',
    '100,000-124,999':'100,000-124,999',
    '125,000-149,999':'125,000-149,9991',
    '150,000-199,999':'150,000-199,999',
    '200,000-249,999':'200,000-249,999',
    '250,000-299,999':'>250,000',
    '300,000-500,000':'>250,000',
    '> $500,000':'>250,000'}

In [0]:
salary_encode = {   '$0-999': 0,
    '1,000-1,999': 0,
    '2,000-2,999': 0, 
    '3,000-3,999': 0,
    '4,000-4,999': 0,
    '5,000-7,499': 0, 
    '7,500-9,999': 0,
    '10,000-14,999': 1,
    '15,000-19,999': 1, 
    '20,000-24,999': 2,
    '25,000-29,999': 2,
    '30,000-39,999': 3, 
    '40,000-49,999': 4, 
    '50,000-59,999': 5,
    '60,000-69,999': 6,
    '70,000-79,999': 7, 
    '80,000-89,999': 8, 
    '90,000-99,999': 9,
    '100,000-124,999':10,
    '125,000-149,999':11,
    '150,000-199,999':12,
    '200,000-249,999':13,
    '250,000-299,999':14,
    '300,000-500,000':14,
    '> $500,000':14}

In [10]:
#Label Encoding the target variable
Salaries.loc[1:,'Q10_Encoded'] = Salaries.loc[1:,'Q10'].map(salary_encode)
Salaries.loc[1:,'Q10_Encoded']=Salaries.loc[1:,'Q10_Encoded'].astype(int)
Salaries.Q10_Encoded.unique()

array([ 3,  0, 14,  6,  1,  8,  7,  9, 11,  4,  2, 10, 12, 13,  5])

In [11]:
#Combining the salary buckets
Salaries.loc[1:,'Q10_buckets'] = Salaries.loc[1:,'Q10'].map(salary_buckets)
Salaries.Q10_buckets.unique()

array(['30,000-39,999', '0-9,999', '>250,000', '60,000-69,999',
       '10,000-19,999', '80,000-89,999', '70,000-79,999', '90,000-99,999',
       '125,000-149,9991', '40,000-49,999', '20,000-29,999',
       '100,000-124,999', '150,000-199,999', '200,000-249,999',
       '50,000-59,999'], dtype=object)

In [12]:
Salaries.head()

  Time from Start to Finish (seconds)     Q1  ... Q10_Encoded    Q10_buckets
1                                 510  22-24  ...           3  30,000-39,999
2                                 423  40-44  ...           0        0-9,999
4                                 391  40-44  ...          14       >250,000
5                                 392  22-24  ...           0        0-9,999
6                                 470  50-54  ...           6  60,000-69,999

[5 rows x 248 columns]

In [0]:
Salaries.to_csv("Kaggle_Salary.csv", index=False)

In [11]:
df = pd.read_csv('/Users/qiuchenwang/Downloads/Kaggle_Salary.csv')
df.head()

/Users/qiuchenwang/anaconda3/envs/tensorflow/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (73,77,114,146,153,171,175,212,224,228,231) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT,Q10_Encoded,Q10_buckets
0,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,3,"30,000-39,999"
1,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,"0-9,999"
2,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1,14,">250,000"
3,392,22-24,Male,-1,India,Bachelor’s degree,Other,1,0-49 employees,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,"0-9,999"
4,470,50-54,Male,-1,France,Master’s degree,Data Scientist,-1,0-49 employees,3-4,...,NaN,AWS Relational Database Service,NaN,NaN,NaN,NaN,NaN,-1,6,"60,000-69,999"

In [12]:
df['Q14'].value_counts()

Local development environments (RStudio, JupyterLab, etc.)              5925
Basic statistical software (Microsoft Excel, Google Sheets, etc.)       2094
Cloud-based data software & APIs (AWS, GCP, Azure, etc.)                1033
Other                                                                    871
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)     787
Advanced statistical software (SPSS, SAS, etc.)                          742
Name: Q14, dtype: int64

In [14]:
df['Q14_Part_1_TEXT'].head()

0    0
1   -1
2   -1
3   -1
4   -1
Name: Q14_Part_1_TEXT, dtype: int64

In [30]:
pd.options.display.max_rows = 999
df['Q14_Part_1_TEXT'].unique()

array([  0,  -1,   2,   1,   3,   4,  11,  12,  15,  16,  17,  18,  20,
        22,  23,  25,  26,  27,  31,  32,  33,  34,  36,  37,  38,  39,
        40,  41,  43,  44,  47,  48,  51,  52,  53,  54,  55,  57,  58,
        60,  63,  65,  66,  68,  69,  70,  71,  72,  76,  77,   7,  79,
        80,  81,  82,  83,  84,  89,  62,  91,  92,  93,  95,  96,  97,
       102, 103, 104, 106, 109, 110, 113, 116, 117, 118, 119, 120, 122,
       123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135,
       136, 137, 138, 140, 141,  50, 143, 145, 146,  35, 148, 149, 150,
       151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 162, 163, 164,
       167, 169, 170, 171, 172, 174, 175, 176, 178, 179, 181, 182, 184,
       185, 186, 187, 188, 189, 190, 193, 194, 195, 196, 197, 199, 200,
       114, 201, 203, 204, 205, 207, 210, 212, 214, 217, 218, 219, 220,
       222, 225, 226, 105, 229, 230, 231, 233, 235, 236, 238, 239, 242,
       243, 244, 245, 246, 247, 249, 250, 253, 255, 256, 257, 258, 259,
       260, 261, 262, 265, 267, 269, 271, 198, 272, 273, 274, 275, 276,
       278, 280, 281, 282, 283, 284, 285, 286, 287, 288, 290, 291, 292,
       293, 296, 297, 299, 300, 301, 252, 302, 304, 305, 306, 307, 309,
       310, 311, 312, 315, 317, 318, 320, 322, 323, 324, 325, 328, 329,
       330, 331, 334, 335, 336, 338, 339, 340, 341, 342, 343, 344, 346,
       347, 348, 349, 350, 351, 352, 353, 355, 357, 358, 359, 360, 361,
       365, 367, 368, 372,  74, 376, 377, 379, 380,  90, 382, 383, 384,
       385, 386, 387, 389, 390, 391, 392, 394, 395, 398, 400, 402, 403,
       404, 406, 407, 410, 411, 413, 414, 416, 419, 421, 423, 424, 425,
       427,  94, 428, 431, 432, 433, 434, 436, 437, 438, 439, 440, 441,
       444, 445, 448, 449, 241, 451, 452, 454, 455, 456, 457, 458, 459,
       460, 462, 464, 465, 466, 467, 468, 469, 470, 471, 473, 474, 144,
       475, 476, 477, 478, 479, 480, 481, 482, 485, 488, 489, 491, 492,
       493, 496, 497, 500, 504, 506, 507, 508, 509, 510, 511, 512, 513,
       514, 515, 518, 521, 522, 345, 523, 524, 525, 526, 527, 528, 530,
       531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 542, 543, 544,
       546, 547, 549,  13, 550, 551, 552, 553, 554, 556, 557, 558, 559,
       561, 562, 563, 564, 565, 567, 569, 571, 572, 573, 574, 576, 577,
       578, 579, 581, 582, 584, 585, 588, 589, 590, 591, 592, 594, 595,
       596, 597, 598, 599, 600, 602, 603, 604, 605, 606, 608, 609, 610,
       612, 614, 616, 619, 621, 622, 623, 624, 625, 626, 628, 629, 630,
       631, 632, 634, 635, 636, 637, 248, 638, 639, 640, 642, 645, 646,
       647, 649, 650, 654, 657, 658, 659, 660, 661, 662, 663, 664, 665,
       666, 668, 669, 670, 671, 672, 673, 674, 412, 676, 677, 679, 680,
        78, 681, 682, 685, 686, 687, 690, 691, 693, 694, 695, 696, 697,
       698, 699, 701, 702, 703, 709, 711, 712, 714, 715, 717, 719, 721,
        87, 725, 726, 729, 735, 736, 737, 738, 741, 742, 743, 748, 752,
       754, 756, 757, 759, 760, 761, 762, 763, 764, 766, 768, 769, 771,
       772, 773, 774, 776, 780, 781, 782, 783, 784, 786, 787, 788, 789,
       790, 356, 791, 792, 793, 795, 799, 800, 801, 802, 803, 804, 805,
       806, 811, 812, 813, 814, 816, 817, 818, 819, 809, 820, 822, 823,
       824, 415, 826, 827, 828, 830, 831, 832, 833, 834, 835, 836, 838,
       840, 845, 849, 850, 851, 852, 853, 854, 855, 859, 862, 864, 731,
       865, 866, 867, 874,  49, 875, 876, 877, 878, 882, 883, 884, 885,
       655, 887, 888, 890, 891, 892, 897, 898, 899, 900, 901, 902, 903,
       904, 905, 907, 371, 909, 910, 911, 912, 915, 917, 919, 920, 921,
       923, 924, 925, 935])

In [18]:
pd.options.display.max_rows = 999
df.iloc[0]['Q14']

'Basic statistical software (Microsoft Excel, Google Sheets, etc.)'

In [19]:
df.iloc[0]['Q14_Part_2_TEXT']

-1

In [20]:
df.iloc[0]['Q14_Part_1_TEXT']

0

In [21]:
df.iloc[0]['Q14_Part_3_TEXT']

-1

In [22]:
df.iloc[1]['Q14']

'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)'

In [23]:
df.iloc[1]['Q14_Part_4_TEXT']

-1

In [24]:
df.iloc[1]

Time from Start to Finish (seconds)                                                  423
Q1                                                                                 40-44
Q2                                                                                  Male
Q2_OTHER_TEXT                                                                         -1
Q3                                                                                 India
Q4                                                                   Professional degree
Q5                                                                     Software Engineer
Q5_OTHER_TEXT                                                                         -1
Q6                                                                    > 10,000 employees
Q7                                                                                   20+
Q8                                     We have well established ML methods (i.e., mod...
Q9_Part_1                              Analyze and understand data to influence produ...
Q9_Part_2                              Build and/or run the data infrastructure that ...
Q9_Part_3                              Build prototypes to explore applying machine l...
Q9_Part_4                              Build and/or run a machine learning service th...
Q9_Part_5                                                                            NaN
Q9_Part_6                                                                            NaN
Q9_Part_7                                                                            NaN
Q9_Part_8                                                                            NaN
Q9_OTHER_TEXT                                                                         -1
Q10                                                                          5,000-7,499
Q11                                                                    > $100,000 ($USD)
Q12_Part_1                                                                           NaN
Q12_Part_2                                                                           NaN
Q12_Part_3                                                                           NaN
Q12_Part_4                                      Kaggle (forums, blog, social media, etc)
Q12_Part_5                                                                           NaN
Q12_Part_6                               YouTube (Cloud AI Adventures, Siraj Raval, etc)
Q12_Part_7                             Podcasts (Chai Time Data Science, Linear Digre...
Q12_Part_8                             Blogs (Towards Data Science, Medium, Analytics...
Q12_Part_9                                                                           NaN
Q12_Part_10                                                                          NaN
Q12_Part_11                                                                          NaN
Q12_Part_12                                                                          NaN
Q12_OTHER_TEXT                                                                        -1
Q13_Part_1                                                                           NaN
Q13_Part_2                                                                      Coursera
Q13_Part_3                                                                           NaN
Q13_Part_4                                                                      DataCamp
Q13_Part_5                                                                           NaN
Q13_Part_6                                            Kaggle Courses (i.e. Kaggle Learn)
Q13_Part_7                                                                           NaN
Q13_Part_8                                                                         Udemy
Q13_Part_9                                                                           NaN
Q13_Part_10                                                                          NaN
Q13_Part_11                                                                          NaN
Q13_Part_12                                                                          NaN
Q13_OTHER_TEXT                                                                        -1
Q14                                    Cloud-based data software & APIs (AWS, GCP, Az...
Q14_Part_1_TEXT                                                                       -1
Q14_Part_2_TEXT                                                                       -1
Q14_Part_3_TEXT                                                                       -1
Q14_Part_4_TEXT                                                                       -1
Q14_Part_5_TEXT                                                                        0
Q14_OTHER_TEXT                                                                        -1
Q15                                                            I have never written code
Q16_Part_1                                                                           NaN
Q16_Part_2                                                                           NaN
Q16_Part_3                                                                           NaN
Q16_Part_4                                                                           NaN
Q16_Part_5                                                                           NaN
Q16_Part_6                                                                           NaN
Q16_Part_7                                                                           NaN
Q16_Part_8                                                                           NaN
Q16_Part_9                                                                           NaN
Q16_Part_10                                                                          NaN
Q16_Part_11                                                                          NaN
Q16_Part_12                                                                          NaN
Q16_OTHER_TEXT                                                                        -1
Q17_Part_1                                                                           NaN
Q17_Part_2                                                                           NaN
Q17_Part_3                                                                           NaN
Q17_Part_4                                                                           NaN
Q17_Part_5                                                                           NaN
Q17_Part_6                                                                           NaN
Q17_Part_7                                                                           NaN
Q17_Part_8                                                                           NaN
Q17_Part_9                                                                           NaN
Q17_Part_10                                                                          NaN
Q17_Part_11                                                                          NaN
Q17_Part_12                                                                          NaN
Q17_OTHER_TEXT                                                                        -1
Q18_Part_1                                                                           NaN
Q18_Part_2                                                                           NaN
Q18_Part_3                                                                           NaN
Q18_Part_4                                                                           NaN
Q18_Part_5                                                                           NaN
Q18_Part_6                                                                           NaN
Q18_Part_7                                                                           NaN
Q18_Part_8                                                                           NaN
Q18_Part_9                                                                           NaN
Q18_Part_10                                                                          NaN
Q18_Part_11                                                                          NaN
Q18_Part_12                                                                          NaN
Q18_OTHER_TEXT                                                                        -1
Q19                                                                                  NaN
Q19_OTHER_TEXT                                                                        -1
Q20_Part_1                                                                           NaN
Q20_Part_2                                                                           NaN
Q20_Part_3                                                                           NaN
Q20_Part_4                                                                           NaN
Q20_Part_5                                                                           NaN
Q20_Part_6                                                                           NaN
Q20_Part_7                                                                           NaN
Q20_Part_8                                                                           NaN
Q20_Part_9                                                                           NaN
Q20_Part_10                                                                          NaN
Q20_Part_11                                                                          NaN
Q20_Part_12                                                                          NaN
Q20_OTHER_TEXT                                                                        -1
Q21_Part_1                                                                           NaN
Q21_Part_2                                                                           NaN
Q21_Part_3                                                                           NaN
Q21_Part_4                                                                           NaN
Q21_Part_5                                                                           NaN
Q21_OTHER_TEXT                                                                        -1
Q22                                                                                  NaN
Q23                                                                                  NaN
Q24_Part_1                                                                           NaN
Q24_Part_2                                                                           NaN
Q24_Part_3                                                                           NaN
Q24_Part_4                                                                           NaN
Q24_Part_5                                                                           NaN
Q24_Part_6                                                                           NaN
Q24_Part_7                                                                           NaN
Q24_Part_8                                                                           NaN
Q24_Part_9                                                                           NaN
Q24_Part_10                                                                          NaN
Q24_Part_11                                                                          NaN
Q24_Part_12                                                                          NaN
Q24_OTHER_TEXT                                                                        -1
Q25_Part_1                                                                           NaN
Q25_Part_2                                                                           NaN
Q25_Part_3                                                                           NaN
Q25_Part_4                                                                           NaN
Q25_Part_5                                                                           NaN
Q25_Part_6                                                                           NaN
Q25_Part_7                                                                           NaN
Q25_Part_8                                                                           NaN
Q25_OTHER_TEXT                                                                        -1
Q26_Part_1                                                                           NaN
Q26_Part_2                                                                           NaN
Q26_Part_3                                                                           NaN
Q26_Part_4                                                                           NaN
Q26_Part_5                                                                           NaN
Q26_Part_6                                                                           NaN
Q26_Part_7                                                                           NaN
Q26_OTHER_TEXT                                                                        -1
Q27_Part_1                                                                           NaN
Q27_Part_2                                                                           NaN
Q27_Part_3                                                                           NaN
Q27_Part_4                                                                           NaN
Q27_Part_5                                                                           NaN
Q27_Part_6                                                                           NaN
Q27_OTHER_TEXT                                                                        -1
Q28_Part_1                                                                           NaN
Q28_Part_2                                                                           NaN
Q28_Part_3                                                                           NaN
Q28_Part_4                                                                           NaN
Q28_Part_5                                                                           NaN
Q28_Part_6                                                                           NaN
Q28_Part_7                                                                           NaN
Q28_Part_8                                                                           NaN
Q28_Part_9                                                                           NaN
Q28_Part_10                                                                          NaN
Q28_Part_11                                                                          NaN
Q28_Part_12                                                                          NaN
Q28_OTHER_TEXT                                                                        -1
Q29_Part_1                                                                           NaN
Q29_Part_2                                                                           NaN
Q29_Part_3                                                                           NaN
Q29_Part_4                                                                           NaN
Q29_Part_5                                                                           NaN
Q29_Part_6                                                                           NaN
Q29_Part_7                                                                           NaN
Q29_Part_8                                                                           NaN
Q29_Part_9                                                                           NaN
Q29_Part_10                                                                          NaN
Q29_Part_11                                                                          NaN
Q29_Part_12                                                                          NaN
Q29_OTHER_TEXT                                                                        -1
Q30_Part_1                                                                           NaN
Q30_Part_2                                                                           NaN
Q30_Part_3                                                                           NaN
Q30_Part_4                                                                           NaN
Q30_Part_5                                                                           NaN
Q30_Part_6                                                                           NaN
Q30_Part_7                                                                           NaN
Q30_Part_8                                                                           NaN
Q30_Part_9                                                                           NaN
Q30_Part_10                                                                          NaN
Q30_Part_11                                                                          NaN
Q30_Part_12                                                                          NaN
Q30_OTHER_TEXT                                                                        -1
Q31_Part_1                                                                           NaN
Q31_Part_2                                                                           NaN
Q31_Part_3                                                                           NaN
Q31_Part_4                                                                           NaN
Q31_Part_5                                                                           NaN
Q31_Part_6                                                                           NaN
Q31_Part_7                                                                           NaN
Q31_Part_8                                                                           NaN
Q31_Part_9                                                                           NaN
Q31_Part_10                                                                          NaN
Q31_Part_11                                                                          NaN
Q31_Part_12                                                                          NaN
Q31_OTHER_TEXT                                                                        -1
Q32_Part_1                                                                           NaN
Q32_Part_2                                                                           NaN
Q32_Part_3                                                                           NaN
Q32_Part_4                                                                           NaN
Q32_Part_5                                                                           NaN
Q32_Part_6                                                                           NaN
Q32_Part_7                                                                           NaN
Q32_Part_8                                                                           NaN
Q32_Part_9                                                                           NaN
Q32_Part_10                                                                          NaN
Q32_Part_11                                                                          NaN
Q32_Part_12                                                                          NaN
Q32_OTHER_TEXT                                                                        -1
Q33_Part_1                                                                           NaN
Q33_Part_2                                                                           NaN
Q33_Part_3                                                                           NaN
Q33_Part_4                                                                           NaN

In [25]:
df.iloc[2]

Time from Start to Finish (seconds)                                                  391
Q1                                                                                 40-44
Q2                                                                                  Male
Q2_OTHER_TEXT                                                                         -1
Q3                                                                             Australia
Q4                                                                       Master’s degree
Q5                                                                                 Other
Q5_OTHER_TEXT                                                                          0
Q6                                                                    > 10,000 employees
Q7                                                                                   20+
Q8                                                                         I do not know
Q9_Part_1                                                                            NaN
Q9_Part_2                                                                            NaN
Q9_Part_3                                                                            NaN
Q9_Part_4                                                                            NaN
Q9_Part_5                                                                            NaN
Q9_Part_6                                                                            NaN
Q9_Part_7                                                                            NaN
Q9_Part_8                                                                            NaN
Q9_OTHER_TEXT                                                                         -1
Q10                                                                      250,000-299,999
Q11                                                                      $10,000-$99,999
Q12_Part_1                                                                           NaN
Q12_Part_2                                                                           NaN
Q12_Part_3                                                                           NaN
Q12_Part_4                                                                           NaN
Q12_Part_5                                                                           NaN
Q12_Part_6                                                                           NaN
Q12_Part_7                             Podcasts (Chai Time Data Science, Linear Digre...
Q12_Part_8                             Blogs (Towards Data Science, Medium, Analytics...
Q12_Part_9                             Journal Publications (traditional publications...
Q12_Part_10                                 Slack Communities (ods.ai, kagglenoobs, etc)
Q12_Part_11                                                                          NaN
Q12_Part_12                                                                          NaN
Q12_OTHER_TEXT                                                                        -1
Q13_Part_1                                                                           NaN
Q13_Part_2                                                                      Coursera
Q13_Part_3                                                                           edX
Q13_Part_4                                                                      DataCamp
Q13_Part_5                                                                           NaN
Q13_Part_6                                                                           NaN
Q13_Part_7                                                                           NaN
Q13_Part_8                                                                           NaN
Q13_Part_9                                                                           NaN
Q13_Part_10                            University Courses (resulting in a university ...
Q13_Part_11                                                                          NaN
Q13_Part_12                                                                          NaN
Q13_OTHER_TEXT                                                                        -1
Q14                                    Local development environments (RStudio, Jupyt...
Q14_Part_1_TEXT                                                                       -1
Q14_Part_2_TEXT                                                                       -1
Q14_Part_3_TEXT                                                                       -1
Q14_Part_4_TEXT                                                                        0
Q14_Part_5_TEXT                                                                       -1
Q14_OTHER_TEXT                                                                        -1
Q15                                                                            1-2 years
Q16_Part_1                                 Jupyter (JupyterLab, Jupyter Notebooks, etc)
Q16_Part_2                                                                           NaN
Q16_Part_3                                                                           NaN
Q16_Part_4                                                                           NaN
Q16_Part_5                                                                           NaN
Q16_Part_6                                           Visual Studio / Visual Studio Code
Q16_Part_7                                                                           NaN
Q16_Part_8                                                                           NaN
Q16_Part_9                                                                           NaN
Q16_Part_10                                                                          NaN
Q16_Part_11                                                                          NaN
Q16_Part_12                                                                          NaN
Q16_OTHER_TEXT                                                                        -1
Q17_Part_1                                                                           NaN
Q17_Part_2                                                                           NaN
Q17_Part_3                                                    Microsoft Azure Notebooks
Q17_Part_4                                                                           NaN
Q17_Part_5                                                                           NaN
Q17_Part_6                                                                           NaN
Q17_Part_7                                                                           NaN
Q17_Part_8                                                                           NaN
Q17_Part_9                                                                           NaN
Q17_Part_10                                                                          NaN
Q17_Part_11                                                                          NaN
Q17_Part_12                                                                          NaN
Q17_OTHER_TEXT                                                                        -1
Q18_Part_1                                                                        Python
Q18_Part_2                                                                             R
Q18_Part_3                                                                           SQL
Q18_Part_4                                                                           NaN
Q18_Part_5                                                                           NaN
Q18_Part_6                                                                           NaN
Q18_Part_7                                                                           NaN
Q18_Part_8                                                                           NaN
Q18_Part_9                                                                          Bash
Q18_Part_10                                                                          NaN
Q18_Part_11                                                                          NaN
Q18_Part_12                                                                          NaN
Q18_OTHER_TEXT                                                                        -1
Q19                                                                               Python
Q19_OTHER_TEXT                                                                        -1
Q20_Part_1                                                             Ggplot / ggplot2
Q20_Part_2                                                                   Matplotlib
Q20_Part_3                                                                           NaN
Q20_Part_4                                                                           NaN
Q20_Part_5                                                                           NaN
Q20_Part_6                                                                           NaN
Q20_Part_7                                                                           NaN
Q20_Part_8                                                                      Seaborn
Q20_Part_9                                                                           NaN
Q20_Part_10                                                                          NaN
Q20_Part_11                                                                          NaN
Q20_Part_12                                                                          NaN
Q20_OTHER_TEXT                                                                        -1
Q21_Part_1                                                                          CPUs
Q21_Part_2                                                                          GPUs
Q21_Part_3                                                                           NaN
Q21_Part_4                                                                           NaN
Q21_Part_5                                                                           NaN
Q21_OTHER_TEXT                                                                        -1
Q22                                                                                 Once
Q23                                                                            2-3 years
Q24_Part_1                                                 Linear or Logistic Regression
Q24_Part_2                                                                           NaN
Q24_Part_3                                                                           NaN
Q24_Part_4                                                                           NaN
Q24_Part_5                                                                           NaN
Q24_Part_6                                                                           NaN
Q24_Part_7                                                 Convolutional Neural Networks
Q24_Part_8                                                                           NaN
Q24_Part_9                                                                           NaN
Q24_Part_10                                                                          NaN
Q24_Part_11                                                                          NaN
Q24_Part_12                                                                          NaN
Q24_OTHER_TEXT                                                                        -1
Q25_Part_1                                                                           NaN
Q25_Part_2                                                                           NaN
Q25_Part_3                                                                           NaN
Q25_Part_4                                                                           NaN
Q25_Part_5                                                                           NaN
Q25_Part_6                             Automation of full ML pipelines (e.g. Google A...
Q25_Part_7                                                                           NaN
Q25_Part_8                                                                           NaN
Q25_OTHER_TEXT                                                                        -1
Q26_Part_1                             General purpose image/video tools (PIL, cv2, s...
Q26_Part_2                                                                           NaN
Q26_Part_3                                                                           NaN
Q26_Part_4                             Image classification and other general purpose...
Q26_Part_5                                                                           NaN
Q26_Part_6                                                                           NaN
Q26_Part_7                                                                           NaN
Q26_OTHER_TEXT                                                                        -1
Q27_Part_1                                                                           NaN
Q27_Part_2                                                                           NaN
Q27_Part_3                                                                           NaN
Q27_Part_4                                                                           NaN
Q27_Part_5                                                                           NaN
Q27_Part_6                                                                           NaN
Q27_OTHER_TEXT                                                                        -1
Q28_Part_1                                                                 Scikit-learn
Q28_Part_2                                                                   TensorFlow
Q28_Part_3                                                                        Keras
Q28_Part_4                                                                  RandomForest
Q28_Part_5                                                                           NaN
Q28_Part_6                                                                           NaN
Q28_Part_7                                                                           NaN
Q28_Part_8                                                                           NaN
Q28_Part_9                                                                           NaN
Q28_Part_10                                                                          NaN
Q28_Part_11                                                                          NaN
Q28_Part_12                                                                          NaN
Q28_OTHER_TEXT                                                                        -1
Q29_Part_1                                                                           NaN
Q29_Part_2                                                                           NaN
Q29_Part_3                                                              Microsoft Azure
Q29_Part_4                                                                           NaN
Q29_Part_5                                                                           NaN
Q29_Part_6                                                                           NaN
Q29_Part_7                                                                           NaN
Q29_Part_8                                                                           NaN
Q29_Part_9                                                                           NaN
Q29_Part_10                                                                          NaN
Q29_Part_11                                                                          NaN
Q29_Part_12                                                                          NaN
Q29_OTHER_TEXT                                                                        -1
Q30_Part_1                                                                           NaN
Q30_Part_2                                                                           NaN
Q30_Part_3                                                                           NaN
Q30_Part_4                                                        Azure Virtual Machines
Q30_Part_5                                                                           NaN
Q30_Part_6                                                                           NaN
Q30_Part_7                                                                           NaN
Q30_Part_8                                                                           NaN
Q30_Part_9                                                                           NaN
Q30_Part_10                                                      Azure Container Service
Q30_Part_11                                                                          NaN
Q30_Part_12                                                                          NaN
Q30_OTHER_TEXT                                                                        -1
Q31_Part_1                                                                           NaN
Q31_Part_2                                                                           NaN
Q31_Part_3                                                                    Databricks
Q31_Part_4                                                                           NaN
Q31_Part_5                                                                           NaN
Q31_Part_6                                                   Microsoft Analysis Services
Q31_Part_7                                                                           NaN
Q31_Part_8                                                                           NaN
Q31_Part_9                                                                           NaN
Q31_Part_10                                                                          NaN
Q31_Part_11                                                                          NaN
Q31_Part_12                                                                          NaN
Q31_OTHER_TEXT                                                                        -1
Q32_Part_1                                                                           NaN
Q32_Part_2                                                                           NaN
Q32_Part_3                                                 Azure Machine Learning Studio
Q32_Part_4                                                                           NaN
Q32_Part_5                                                                           NaN
Q32_Part_6                                                                           NaN
Q32_Part_7                                                                           NaN
Q32_Part_8                                                                           NaN
Q32_Part_9                                                                           NaN
Q32_Part_10                                                                          NaN
Q32_Part_11                                                                          NaN
Q32_Part_12                                                                          NaN
Q32_OTHER_TEXT                                                                        -1
Q33_Part_1                                                                           NaN
Q33_Part_2                                                                           NaN
Q33_Part_3                                                                           NaN
Q33_Part_4                                                                           NaN

In [26]:
df.iloc[3]

Time from Start to Finish (seconds)                                                  392
Q1                                                                                 22-24
Q2                                                                                  Male
Q2_OTHER_TEXT                                                                         -1
Q3                                                                                 India
Q4                                                                     Bachelor’s degree
Q5                                                                                 Other
Q5_OTHER_TEXT                                                                          1
Q6                                                                        0-49 employees
Q7                                                                                     0
Q8                                                         No (we do not use ML methods)
Q9_Part_1                                                                            NaN
Q9_Part_2                                                                            NaN
Q9_Part_3                                                                            NaN
Q9_Part_4                                                                            NaN
Q9_Part_5                                                                            NaN
Q9_Part_6                                                                            NaN
Q9_Part_7                                                                            NaN
Q9_Part_8                                                                            NaN
Q9_OTHER_TEXT                                                                         -1
Q10                                                                          4,000-4,999
Q11                                                                             $0 (USD)
Q12_Part_1                                                                           NaN
Q12_Part_2                                                                           NaN
Q12_Part_3                                                                           NaN
Q12_Part_4                                                                           NaN
Q12_Part_5                                                                           NaN
Q12_Part_6                               YouTube (Cloud AI Adventures, Siraj Raval, etc)
Q12_Part_7                                                                           NaN
Q12_Part_8                             Blogs (Towards Data Science, Medium, Analytics...
Q12_Part_9                                                                           NaN
Q12_Part_10                                                                          NaN
Q12_Part_11                                                                          NaN
Q12_Part_12                                                                        Other
Q12_OTHER_TEXT                                                                         0
Q13_Part_1                                                                           NaN
Q13_Part_2                                                                           NaN
Q13_Part_3                                                                           NaN
Q13_Part_4                                                                           NaN
Q13_Part_5                                                                           NaN
Q13_Part_6                                                                           NaN
Q13_Part_7                                                                           NaN
Q13_Part_8                                                                           NaN
Q13_Part_9                                                                           NaN
Q13_Part_10                                                                          NaN
Q13_Part_11                                                                          NaN
Q13_Part_12                                                                        Other
Q13_OTHER_TEXT                                                                         0
Q14                                    Local development environments (RStudio, Jupyt...
Q14_Part_1_TEXT                                                                       -1
Q14_Part_2_TEXT                                                                       -1
Q14_Part_3_TEXT                                                                       -1
Q14_Part_4_TEXT                                                                        1
Q14_Part_5_TEXT                                                                       -1
Q14_OTHER_TEXT                                                                        -1
Q15                                                                            < 1 years
Q16_Part_1                                 Jupyter (JupyterLab, Jupyter Notebooks, etc)
Q16_Part_2                                                                           NaN
Q16_Part_3                                                                           NaN
Q16_Part_4                                                                           NaN
Q16_Part_5                                                                           NaN
Q16_Part_6                                                                           NaN
Q16_Part_7                                                                           NaN
Q16_Part_8                                                                           NaN
Q16_Part_9                                                                           NaN
Q16_Part_10                                                                          NaN
Q16_Part_11                                                                          NaN
Q16_Part_12                                                                          NaN
Q16_OTHER_TEXT                                                                        -1
Q17_Part_1                                                                           NaN
Q17_Part_2                                                                 Google Colab
Q17_Part_3                                                                           NaN
Q17_Part_4                              Google Cloud Notebook Products (AI Platform, ...
Q17_Part_5                                                                           NaN
Q17_Part_6                                                                           NaN
Q17_Part_7                                                                           NaN
Q17_Part_8                                                                           NaN
Q17_Part_9                                                                           NaN
Q17_Part_10                                                                          NaN
Q17_Part_11                                                                          NaN
Q17_Part_12                                                                          NaN
Q17_OTHER_TEXT                                                                        -1
Q18_Part_1                                                                        Python
Q18_Part_2                                                                           NaN
Q18_Part_3                                                                           SQL
Q18_Part_4                                                                           NaN
Q18_Part_5                                                                           NaN
Q18_Part_6                                                                           NaN
Q18_Part_7                                                                           NaN
Q18_Part_8                                                                           NaN
Q18_Part_9                                                                           NaN
Q18_Part_10                                                                          NaN
Q18_Part_11                                                                          NaN
Q18_Part_12                                                                          NaN
Q18_OTHER_TEXT                                                                        -1
Q19                                                                               Python
Q19_OTHER_TEXT                                                                        -1
Q20_Part_1                                                                           NaN
Q20_Part_2                                                                   Matplotlib
Q20_Part_3                                                                           NaN
Q20_Part_4                                                                           NaN
Q20_Part_5                                                                           NaN
Q20_Part_6                                                      Plotly / Plotly Express
Q20_Part_7                                                                           NaN
Q20_Part_8                                                                      Seaborn
Q20_Part_9                                                                           NaN
Q20_Part_10                                                                          NaN
Q20_Part_11                                                                          NaN
Q20_Part_12                                                                          NaN
Q20_OTHER_TEXT                                                                        -1
Q21_Part_1                                                                          CPUs
Q21_Part_2                                                                          GPUs
Q21_Part_3                                                                           NaN
Q21_Part_4                                                                           NaN
Q21_Part_5                                                                           NaN
Q21_OTHER_TEXT                                                                        -1
Q22                                                                                Never
Q23                                                                            < 1 years
Q24_Part_1                                                 Linear or Logistic Regression
Q24_Part_2                                              Decision Trees or Random Forests
Q24_Part_3                             Gradient Boosting Machines (xgboost, lightgbm,...
Q24_Part_4                                                                           NaN
Q24_Part_5                                                                           NaN
Q24_Part_6                                                                           NaN
Q24_Part_7                                                                           NaN
Q24_Part_8                                                                           NaN
Q24_Part_9                                                                           NaN
Q24_Part_10                                                                          NaN
Q24_Part_11                                                                          NaN
Q24_Part_12                                                                          NaN
Q24_OTHER_TEXT                                                                        -1
Q25_Part_1                                                                           NaN
Q25_Part_2                                                                           NaN
Q25_Part_3                                                                           NaN
Q25_Part_4                                                                           NaN
Q25_Part_5                                                                           NaN
Q25_Part_6                                                                           NaN
Q25_Part_7                                                                          None
Q25_Part_8                                                                           NaN
Q25_OTHER_TEXT                                                                        -1
Q26_Part_1                                                                           NaN
Q26_Part_2                                                                           NaN
Q26_Part_3                                                                           NaN
Q26_Part_4                                                                           NaN
Q26_Part_5                                                                           NaN
Q26_Part_6                                                                           NaN
Q26_Part_7                                                                           NaN
Q26_OTHER_TEXT                                                                        -1
Q27_Part_1                                                                           NaN
Q27_Part_2                                                                           NaN
Q27_Part_3                                                                           NaN
Q27_Part_4                                                                           NaN
Q27_Part_5                                                                           NaN
Q27_Part_6                                                                           NaN
Q27_OTHER_TEXT                                                                        -1
Q28_Part_1                                                                 Scikit-learn
Q28_Part_2                                                                           NaN
Q28_Part_3                                                                           NaN
Q28_Part_4                                                                  RandomForest
Q28_Part_5                                                                      Xgboost
Q28_Part_6                                                                           NaN
Q28_Part_7                                                                           NaN
Q28_Part_8                                                                     LightGBM
Q28_Part_9                                                                           NaN
Q28_Part_10                                                                          NaN
Q28_Part_11                                                                          NaN
Q28_Part_12                                                                          NaN
Q28_OTHER_TEXT                                                                        -1
Q29_Part_1                                                                           NaN
Q29_Part_2                                                                           NaN
Q29_Part_3                                                                           NaN
Q29_Part_4                                                                           NaN
Q29_Part_5                                                                           NaN
Q29_Part_6                                                                           NaN
Q29_Part_7                                                                           NaN
Q29_Part_8                                                                           NaN
Q29_Part_9                                                                           NaN
Q29_Part_10                                                                          NaN
Q29_Part_11                                                                          NaN
Q29_Part_12                                                                          NaN
Q29_OTHER_TEXT                                                                        -1
Q30_Part_1                                                                           NaN
Q30_Part_2                                                                           NaN
Q30_Part_3                                                                           NaN
Q30_Part_4                                                                           NaN
Q30_Part_5                                                                           NaN
Q30_Part_6                                                                           NaN
Q30_Part_7                                                                           NaN
Q30_Part_8                                                                           NaN
Q30_Part_9                                                                           NaN
Q30_Part_10                                                                          NaN
Q30_Part_11                                                                          NaN
Q30_Part_12                                                                          NaN
Q30_OTHER_TEXT                                                                        -1
Q31_Part_1                                                                           NaN
Q31_Part_2                                                                           NaN
Q31_Part_3                                                                           NaN
Q31_Part_4                                                                           NaN
Q31_Part_5                                                                           NaN
Q31_Part_6                                                                           NaN
Q31_Part_7                                                                           NaN
Q31_Part_8                                                                           NaN
Q31_Part_9                                                                           NaN
Q31_Part_10                                                                          NaN
Q31_Part_11                                                                          NaN
Q31_Part_12                                                                          NaN
Q31_OTHER_TEXT                                                                        -1
Q32_Part_1                                                                           NaN
Q32_Part_2                                                                           NaN
Q32_Part_3                                                                           NaN
Q32_Part_4                                                                           NaN
Q32_Part_5                                                                           NaN
Q32_Part_6                                                                           NaN
Q32_Part_7                                                                           NaN
Q32_Part_8                                                                           NaN
Q32_Part_9                                                                           NaN
Q32_Part_10                                                                          NaN
Q32_Part_11                                                                          NaN
Q32_Part_12                                                                          NaN
Q32_OTHER_TEXT                                                                        -1
Q33_Part_1                                                                           NaN
Q33_Part_2                                                                           NaN
Q33_Part_3                                                                           NaN
Q33_Part_4                                                                           NaN